body {
    background: #12141D;
    color: white;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.container {
    width: 1280px;
    height: 832px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
    width: 100%;
    height: 173px;
    background: #12141D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 61px;
    right: 100px;
    border-radius: 30px;
    mix-blend-mode: hue;
}

.profile-image {
    width: 202px;
    height: 234px;
    position: absolute;
    left: 834px;
    top: 308px;
}

.skills {
    position: absolute;
    top: 74px;
    left: 50%;
    transform: translateX(-50%);
}

.skills span {
    color: #00D26E;
    font-size: 20px;
    font-weight: 600;
    margin: 0 15px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    margin-top: 353px;
}

.description {
    width: 420px;
    margin: 20px auto;
    color: #D3D3D3;
    font-size: 15px;
    font-weight: 500;
}

.icon-container {
    position: absolute;
    top: 531px;
    left: 199px;
}

.github-icon {
    fill: white;
}
